@import url(../helpers/palettes/colors.css);

.flex-row {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.flex-col {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media (max-width: 480px) {
   .flex-col-sm {
      flex-direction: column;
   }
}
