/* Desktop screen styling */

.about-body {
  display: flex;
  gap: var(--space-xl);
}

.about-image {
  flex: auto;
  min-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

.about-image > .image {
  border-radius: var(--radius-lg);
  height: auto;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow-elevation-low);
}

.about-image > .image:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: var(--shadow-elevation-medium);
}

.about-image > .bubble {
  flex: 1;
  background: var(--secondary);
  border-radius: var(--radius-lg);
  width: 90%;
  opacity: 0.9;
  transition: all 0.3s;
  box-shadow: var(--shadow-elevation-low);
}

.about-image > .bubble:nth-child(3) {
  width: 70%;
  opacity: 0.8;
}
.about-image > .bubble:nth-child(4) {
  width: 40%;
  opacity: 0.6;
}
.about-image > .bubble:nth-child(5) {
  width: 20%;
  opacity: 0.4;
}

.about-image > .bubble:nth-child(6) {
  width: 10%;
  opacity: 0.2;
}

.about-image > .bubble:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: var(--shadow-elevation-medium);
}

.about-text {
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-md);
}

.about-text > .heading {
  font-size: var(--font-size-4);
  font-weight: 700;
  text-wrap: pretty;
}

.about-text > .subheading {
  font-weight: 500;
  font-size: var(--font-size-2);
  text-wrap: pretty;
}

.about-text > .content {
  font-weight: 400;
  text-align: justify;
  background: var(--background-100);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-elevation-low);
  transition: all 0.3s ease-in-out;
}

.about-text > .content:hover {
  box-shadow: var(--shadow-elevation-medium);
  transform: scale(1.02);
}

.about-text > .experience {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  background-color: var(--primary-50);
  color: var(--text);
  padding: var(--space-md);
  padding-left: var(--space-lg);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-elevation-low);
  font-weight: 500;
  line-height: 1.6;
}

.about-text > .experience > .item {
  text-align: justify;
}

.trust-badges-section {
  padding: var(--space-md);
  text-align: center;
  margin-top: var(--space-lg);
}

.trust-badges-container {
  display: flex;
  gap: var(--space-md);
  justify-content: center;
  align-items: center;
  margin-top: var(--space-md);
}

.trust-badge {
  flex: 1 1 0;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-elevation-low);
  background: var(--secondary-200);
  transition: all 0.3s ease-in-out;
}

.trust-badge:hover {
  box-shadow: var(--shadow-elevation-medium);
  transform: scale(1.02);
}

.trust-badge-icon {
  font-size: 3rem;
  color: var(--primary);
}

.trust-badge-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text);
  margin: 0;
}

.trust-badge-description {
  color: var(--text);
  margin: 0;
}

/* End of desktop section */

/* Mobile screen styling */

@media (max-width: 600px) {
  .about-section {
    padding: var(--space-sm);
  }

  .about-body {
    gap: var(--space-md);
    flex-direction: column;
  }

  .about-image {
    min-width: 100%;
    flex: none;
  }

  .about-image > .bubble {
    display: none;
  }

  .about-text > .heading {
    font-size: var(--font-size-3);
    text-wrap: pretty;
  }

  .about-text > .subheading {
    font-size: var(--font-size-2);
  }

  .about-text > .experience {
    padding-left: var(--space-md);
    list-style: none;
  }

  .trust-badges-section {
    padding: var(--space-lg) var(--space-sm);
    display: block;
  }

  .trust-badges-container {
    gap: var(--space-sm);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* End of mobile section */

/* Tablet screen styling */

@media (min-width: 601px) and (max-width: 1024px) {
  .about-body {
    gap: var(--space-lg);
    flex-direction: column;
  }

  .about-image {
    min-width: 100%;
    flex: none;
  }

  .about-image > .bubble {
    display: none;
  }

  .about-text > .heading {
    font-size: var(--font-size-3);
    text-wrap: pretty;
  }

  .about-text > .subheading {
    font-size: var(--font-size-2);
    text-wrap: pretty;
  }
}

/* End of tablet section */
