/* Desktop screen styling */
.about-body {
  display: flex;
  gap: 4rem;
}

.about-image {
  flex: auto;
  min-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  > .image {
    border-radius: 1rem;
    height: auto;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--shadow-elevation-low);

    &:hover {
      transform: scale(1.03);
      box-shadow: var(--shadow-elevation-medium);
    }
  }
  > .bubble {
    flex: 1;
    background: var(--secondary);
    border-radius: 1rem;
    width: 90%;
    opacity: 0.9;
    transition: all 0.3s;
    box-shadow: var(--shadow-elevation-low);

    &:hover {
      transform: scale(1.02);
      transform: translateY(-15%);
      box-shadow: var(--shadow-elevation-medium);
    }

    &:nth-child(3) {
      width: 70%;
      opacity: 0.8;
    }
    &:nth-child(4) {
      width: 40%;
      opacity: 0.6;
    }
    &:nth-child(5) {
      width: 20%;
      opacity: 0.4;
    }

    &:nth-child(6) {
      width: 10%;
      opacity: 0.2;
    }
  }
}

.about-text {
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;

  > .heading {
    font-size: var(--font-size-4);
    font-weight: 700;
  }

  > .subheading {
    font-weight: 500;
    color: var(--primary-800);
    font-size: var(--font-size-2);
    text-wrap: pretty;
  }

  > .content {
    font-weight: 400;
    text-align: justify;
  }

  > .experience {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-700);
    color: var(--text-100);
    font-weight: 500;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-elevation-low);
  }

  > .experience > .item {
    text-align: justify;
  }
}
/* End of desktop section */

/* Mobile screen styling */
@media screen and (max-width: 600px) {
  .about-section {
    padding: 0.5rem;
  }

  .about-body {
    gap: 1.5rem;
    flex-direction: column;
  }

  .about-image {
    min-width: 100%;
    flex: none;

    > .bubble {
      display: none;
    }
  }

  .about-text {
    > .heading {
      font-size: var(--font-size-3);
      text-wrap: pretty;
    }

    > .subheading {
      font-size: var(--font-size-2);
    }

    > .experience {
      padding-left: 1rem;
      list-style: none;
    }
  }
}

/* End of mobile section */

/* Tablet screen styling */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .about-body {
    gap: 2rem;
    flex-direction: column;
  }

  .about-image {
    min-width: 100%;
    flex: none;

    > .bubble {
      display: none;
    }
  }

  .about-text {
    > .heading {
      font-size: var(--font-size-3);
      text-wrap: pretty;
    }

    > .subheading {
      font-size: var(--font-size-2);
      text-wrap: pretty;
    }
  }
}
