/* Desktop screen styling */

.about-body {
  display: flex;
  gap: var(--space-xl);
}

.about-image {
  flex: auto;
  min-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-sm);
}

.about-image > .image {
  border-radius: var(--radius-lg);
  height: 600px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow-elevation-low);
}

.about-image > .image:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: var(--shadow-elevation-medium);
}

.about-image > .bubble {
  flex: 1;
  background: var(--secondary);
  border-radius: var(--radius-lg);
  width: 90%;
  opacity: 0.9;
  transition: all 0.3s;
  box-shadow: var(--shadow-elevation-low);
}

.about-image > .bubble:nth-child(3) {
  width: 70%;
  opacity: 0.8;
}
.about-image > .bubble:nth-child(4) {
  width: 40%;
  opacity: 0.6;
}
.about-image > .bubble:nth-child(5) {
  width: 20%;
  opacity: 0.4;
}

.about-image > .bubble:nth-child(6) {
  width: 10%;
  opacity: 0.2;
}

.about-image > .bubble:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: var(--shadow-elevation-medium);
}

.about-text {
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-md);
}

.about-text > .heading {
  font-size: var(--font-size-4);
  font-weight: 700;
  text-wrap: pretty;
}

.about-text > .subheading {
  font-weight: 500;
  font-size: var(--font-size-2);
  text-wrap: pretty;
}

.about-text > .content {
  line-height: 1.6;
  font-weight: 500;
  text-align: justify;
  padding: var(--space-md);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.about-text > .content::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: var(--primary);
  opacity: 0.4;
  bottom: 0;
  left: 0;
  z-index: -5;
  border-radius: 0 0 var(--radius-md) var(--radius-md);
  transition: height 0.3s ease-in-out;
}

.about-text > .content:hover::before {
 height: 100%;
 border-radius: var(--radius-md);
}

.about-text > .experience {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  background-color: var(--primary-50);
  color: var(--text);
  padding: var(--space-md);
  padding-left: var(--space-lg);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-elevation-low);
  font-weight: 500;
  line-height: 1.6;
}

.about-text > .experience > .item {
  text-align: justify;
}

.trust-badges-section {
  padding: var(--space-md) 0;
  text-align: center;
  margin-top: var(--space-lg);
}

.trust-badges-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  justify-content: center;
  align-items: center;
  margin-top: var(--space-md);
  border-radius: var(--radius-md);
  padding-top: var(--space-md);
}

.trust-badge {
  flex: 0 0 auto;
  min-height: 230px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary);
  gap: var(--space-sm);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-elevation-low);
  transition: all 0.3s ease-in-out;
}

.trust-badge:hover {
  transform: translateY(-8px);
  box-shadow: var(--shadow-elevation-medium);
}

.trust-badge > .icon {
  font-size: 3rem;
  color: var(--primary);
}

.trust-badge > .title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text);
  margin: 0;
}

.trust-badge > .description {
  color: var(--text);
  margin: 0;
}

/* End of desktop section */

/* Mobile screen styling */

@media (max-width: 600px) {
  .about-section {
    padding: var(--space-sm);
  }

  .about-body {
    gap: var(--space-md);
    flex-direction: column;
  }

  .about-image {
    min-width: 100%;
    flex: none;
  }

  .about-image > .bubble {
    display: none;
  }

  .about-text > .heading {
    font-size: var(--font-size-3);
    text-wrap: pretty;
  }

  .about-text > .subheading {
    font-size: var(--font-size-2);
  }

  .about-text > .experience {
    padding-left: var(--space-md);
    list-style: none;
  }

  .trust-badges-section {
    padding: var(--space-lg) var(--space-sm);
    display: block;
  }

  .trust-badges-container {
    gap: var(--space-sm);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
  }

  .trust-badge {
    width: 100%;
    padding: var(--space-sm);
  }
}

/* End of mobile section */

/* Tablet screen styling */

@media (min-width: 601px) and (max-width: 1024px) {
  .about-body {
    gap: var(--space-lg);
    flex-direction: column;
  }

  .about-image {
    min-width: 100%;
    flex: none;
  }

  .about-image > .bubble {
    display: none;
  }

  .about-text > .heading {
    font-size: var(--font-size-3);
    text-wrap: pretty;
  }

  .about-text > .subheading {
    font-size: var(--font-size-2);
    text-wrap: pretty;
  }
}

/* End of tablet section */
