.about-section {
  @media screen and (max-width: 600px) {
    padding: 0.5rem;
  }
}

.about-body {
  display: flex;
  gap: 4rem;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.about-image {
  flex: auto;
  min-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 600px) {
    min-width: 100%;
  }

  > .image {
    border-radius: 1rem;
    height: auto;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--shadow-elevation-low);

    &:hover {
      transform: scale(1.03);
      box-shadow: var(--shadow-elevation-medium);
    }
  }
  > .bubble {
    flex: 1;
    background: var(--secondary);
    border-radius: 1rem;
    width: 90%;
    opacity: 0.9;
    transition: all 0.3s;
    box-shadow: var(--shadow-elevation-low);

    &:hover {
      transform: scale(1.02);
      transform: translateY(-15%);
      box-shadow: var(--shadow-elevation-medium);
    }

    &:nth-child(3) {
      width: 70%;
      opacity: 0.8;
    }
    &:nth-child(4) {
      width: 40%;
      opacity: 0.6;
    }
    &:nth-child(5) {
      width: 20%;
      opacity: 0.4;
    }

    &:nth-child(6) {
      width: 10%;
      opacity: 0.2;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.about-text {
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;

  > .heading {
    font-size: var(--font-size-5);
    font-weight: 700;
    text-align: right;
  }

  > .subheading {
    font-weight: 400;
    font-style: italic;
    color: var(--text-600);
    text-align: justify;
  }

  > .content {
    font-weight: 400;
    text-align: justify;
    margin: 0;
  }

  > .experience {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--accent);
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-elevation-low);
    font-weight: 600;
  }

  > .experience > .item {
    text-align: justify;
  }
}
