button {
  all: unset;
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin: 0.5rem;
  font-size: var(--font-size-2);
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
  font-weight: 700;
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.15s ease-in;

  &:hover,
  &:focus {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: var(--shadow-elevation-high);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-50);
  border: 2px solid var(--primary);

  &:hover,
  &:focus {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--text);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--text);
  border: 2px solid var(--secondary);

  &:hover,
  &:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text-50);
  }
}

.btn-tertiary {
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--text);

  &:hover,
  &:focus {
    background-color: var(--text);
    color: var(--text-50);
  }
}
