button {
  all: unset;
  cursor: pointer;
}

.button {
  display: inline-block;
  margin: var(--space-sm);
  font-size: var(--font-size-2);
  padding: var(--space-md) var(--space-lg);
  border-radius: var(--radius-md);
  text-align: center;
  font-weight: 700;
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.15s ease-in;

  &:hover,
  &:focus {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: var(--shadow-elevation-high);
  }
}
.button.-primary {
  background-color: var(--primary);
  color: var(--card-white);

  &:hover,
  &:focus {
    background-color: var(--primary-700);
    color: var(--card-white);
  }
}

.button.-secondary {
  background-color: var(--secondary-200);
  color: var(--text);

  &:hover,
  &:focus {
    background-color: var(--secondary-300);
    color: var(--text);
  }
}

.button.-tertiary {
  background-color: var(--card-white);
  border: 2px solid var(--accent);
  color: var(--text);

  &:hover,
  &:focus {
    background-color: var(--accent-50);
    border: 2px solid var(--accent);
    color: var(--text);
  }
}
