button {
  all: unset;
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin: var(--space-sm);
  font-size: var(--font-size-2);
  padding: var(--space-md) var(--space-lg);
  border-radius: var(--radius-md);
  text-align: center;
  font-weight: 700;
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.15s ease-in;

  &:hover,
  &:focus {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: var(--shadow-elevation-high);
  }
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-50);

  &:hover,
  &:focus {
    background-color: var(--primary-200);
    color: var(--text);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--text);

  &:hover,
  &:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text-50);
  }
}

.btn-tertiary {
  background-color: var(--accent-100);

  &:hover,
  &:focus {
    background-color: var(--accent-200);
  }
}
