.form-section {
  max-width: 1000px;
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-100);
  border-radius: var(--radius-md);
  padding: var(--space-lg);
  margin: var(--space-lg) 0;
  box-shadow: var(--shadow-elevation-medium);

  > .contact {
    width: 100%;
    display: flex;
    gap: var(--space-md);
  }

  > .submit {
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
  }

  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-md);

    > .label {
      align-self: flex-start;
      font-size: var(--font-size-2);
      font-weight: 500;
      margin-bottom: var(--space-sm);
      padding-left: var(--space-sm);
    }

    > .field {
      width: 100%;
      padding: var(--space-md) var(--space-md);
      border: 2px solid var(--text-200);
      border-radius: var(--radius-sm);
      font-size: var(--font-size-1);
      font-weight: 500;
      font-family: inherit;
      resize: vertical;
      background-color: transparent;
      background-color: #fff;
      box-shadow: var(--shadow-elevation-low);
      transition: all 0.3s ease;

      &:focus {
        outline: none;

        border: 2px solid var(--primary);
        box-shadow: var(--shadow-elevation-high);
      }
    }

    & .field:-webkit-autofill {
      -webkit-background-clip: text;
    }

    > .warning {
      margin: var(--space-sm) var(--space-sm) 0;
      font-size: var(--font-size-1);
      background-color: var(--error-background);
      color: var(--error);
      padding: var(--space-sm);
      border: 1px solid var(--error);
      display: none;
    }
  }
}

/* Mobile */
@media (max-width: 600px) {
  .form-section {
    padding: var(--space-xs);
  }

  .form-content > .contact {
    flex-direction: column;
  }
}
