.form-section {
  max-width: 1200px;
  @media (max-width: 600px) {
    padding: 0.5rem;
  }
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-100);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 2rem 0;
  box-shadow: var(--shadow-elevation-medium);

  > .contact {
    width: 100%;
    display: flex;
    gap: 1rem;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .field {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 0;
    border-bottom: 1px solid var(--primary);
    font-size: var(--font-size-1);
    font-weight: 500;
    font-family: inherit;
    resize: vertical;
    background-color: transparent;
    border-radius: 0rem;

    &:focus {
      outline: none;
      background-color: #fff;
      border-bottom: 2px solid var(--primary);
      box-shadow: var(--shadow-elevation-medium);
      border-radius: 0.25rem;
    }
  }

  & .field:-webkit-autofill {
    -webkit-background-clip: text;
  }

  > .submit {
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
  }
}
