.form-section {
  max-width: 1200px;
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem 0;
  box-shadow: var(--shadow-elevation-medium);

  > .contact {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  > .submit {
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
  }

  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    > .label {
      align-self: flex-start;
      font-size: var(--font-size-1);
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    > .field {
      width: 100%;
      padding: 0.75rem 1rem;
      border: 1px solid var(--primary);
      border-radius: 0.25rem;
      font-size: var(--font-size-1);
      font-weight: 500;
      font-family: inherit;
      resize: vertical;
      background-color: transparent;
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        background-color: #fff;
        border-bottom: 2px solid var(--primary);
        box-shadow: var(--shadow-elevation-high);
      }
    }

    & .field:-webkit-autofill {
      -webkit-background-clip: text;
    }
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .form-section {
    padding: 0.5rem;
  }

  .form-content > .contact {
    flex-direction: column;
  }
}
