@import url(../helpers/palettes/colors.css);

.site-footer {
   font-size: 1.6rem;
   min-height: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background: var(--color-green-1);
   color: var(--color-white);
   font-weight: 400;
   /* border-radius: 4rem 4rem 0 0; */
}
