.site-footer {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--text-50);
  font-weight: 400;
  /* border-top: 1px solid var(--text); */
}
