.site-footer {
  padding : var(--space-xl) var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--card-white);
  font-weight: 400;
  font-size: var(--font-size-2);
}
