@import url(../helpers/palettes/colors.css);
@import url(../helpers/buttons/buttons.css);


form,
input,
textarea,
button {
   margin: 0;
   padding: 0;
}

input,
textarea {
}

.form-body {
   max-width: 1200px;
}
.form-title,
.form-content,
#contact-form {
   width: 100%;
}

input,
textarea {
   all: unset;
   font-size: var(--font-size-1);
   box-sizing: border-box;
   background: transparent;
   border-bottom: 1px black solid;
}

input {
   height: 50px;
   width: 100%;
   padding: 0 10px;
}

textarea {
   padding: 5px 10px;
   width: 100%;
}
