.header-section {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  padding: var(--space-md) var(--space-lg);
  border-bottom: 1px solid var(--text-100);
  box-shadow: var(--shadow-elevation-medium);
}

.header-section > .logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-700);
}

.header-section > .logo > .text {
  font-size: var(--font-size-4);
  font-weight: 600;
}

.navigation-menu {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-menu > .link {
  font-size: var(--font-size-2);
}

.hamburger-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 46px;
  height: 26px;
  border: none;
}
.hamburger-button > .bar {
  display: block;
  height: 5px;
  width: 80%;
  margin: 0 auto;
  background-color: var(--primary);
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .header-section {
    padding: 0 var(--space-md);
  }

  .header-section > .logo > .text {
    font-size: var(--font-size-3);
  }

  .navigation-menu {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    flex-direction: column;
    background: var(--background);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    gap: 0;
  }

  .navigation-menu.active {
    max-height: 850px; /* Adjust based on number of menu items */
    box-shadow: var(--shadow-elevation-high);
    border: 1px solid var(--text-100);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
  }

  .navigation-menu > .link {
    padding: var(--space-md) var(--space-lg);
    width: 100%;
    border-top: 1px solid var(--text-100);
    font-size: var(--font-size-3);
  }

  .navigation-menu > .link:first-child {
    border-top: none;
  }

  .navigation-menu > .link:last-child {
    border-bottom: 1px solid var(--text-100);
  }

  .navigation-menu > .book-btn {
    margin: var(--space-lg) auto;
    width: 80%;
    text-align: center;
    font-size: var(--font-size-3);
  }

  .hamburger-button {
    display: flex;
    position: relative;
  }
}

@media (max-width: 600px) {
  .header-section > .logo > .text {
    display: none;
  }
}
