.header-section {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--text-100);
  box-shadow: var(--shadow-elevation-medium);
}

.header-section > .logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-700);
}

.header-section > .logo > .text {
  font-size: var(--font-size-4);
}

.nav-menu {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .link {
    font-size: var(--font-size-2);
  }
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 46px;
  height: 26px;
  border: none;

  > .bar {
    display: block;
    height: 5px;
    width: 80%;
    margin: 0 auto;
    background-color: var(--primary);
    border-radius: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .header-section {
    padding: 0 1rem;
  }

  .header-section > .logo > h1 {
    font-size: var(--font-size-3);
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    flex-direction: column;
    background: var(--background);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

    gap: 0;

    &.active {
      max-height: 850px; /* Adjust based on number of menu items */
      box-shadow: var(--shadow-elevation-high);
      border: 1px solid var(--text-100);
      border-radius: 0 0 0.5rem 0.5rem;
    }

    > .link {
      padding: 1.5rem 2rem;
      width: 100%;
      border-top: 1px solid var(--text-100);
      font-size: var(--font-size-3);

      & :first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: 1px solid var(--text-100);
      }
    }

    > .book-btn {
      margin: 2rem;
      width: 80%;
      text-align: center;
      font-size: var(--font-size-3);
    }
  }

  .menu-toggle {
    display: flex;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .header-section > .logo > .text {
    display: none;
  }
}
