.hero-section {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-bottom: var(--space-xl);
  background: url("/src/assets/banner.webp") left / cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-lg);
}

.hero-section > .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-md);
  border-radius: var(--radius-md);
  height: 100%;
  text-align: center;
}
.hero-section > .banner > .title {
  font-size: var(--font-size-10);
  color: var(--background);
  text-wrap: pretty;
  margin-bottom: var(--space-md);
}

.hero-section > .banner > .tagline {
  font-size: var(--font-size-3);
  font-weight: 500;
  color: var(--background);
  margin-bottom: var(--space-lg);
}

/* Mobile and Tablet */
@media (max-width: 1024px) {
  .hero-section {
    height: 85vh;
    margin-bottom: var(--space-lg);
    background-position: 7% 0%;
  }
  .hero-section > .banner > .title {
    font-size: var(--font-size-5);
    text-wrap: pretty;
  }

  .hero-section > .banner > .tagline {
    font-size: var(--font-size-1);
  }
}
