.hero-section {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-bottom: 4rem;
  background: url("../assets/banner.webp") left / cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;
  text-align: center;

  > .title {
    font-size: var(--font-size-10);
    color: var(--background);
    text-wrap: pretty;
  }

  > .tagline {
    font-size: var(--font-size-3);
    font-weight: 500;
    color: var(--background);
    margin-bottom: 3rem;
  }
}

/* Mobile and Tablet */
@media only screen and (max-width: 1024px) {
  .hero-section {
    height: 85vh;
    margin-bottom: 2rem;
    background-position: 7% 0%;
  }

  .banner-text {
    > .title {
      font-size: var(--font-size-5);
      text-wrap: pretty;
    }

    > .tagline {
      font-size: var(--font-size-1);
    }
  }
}
