.hero-section {
  display: block;
  position: relative;
  height: 85vh;
  overflow: hidden;
  margin-bottom: 4rem;

  > .image {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 2rem;
    object-position: left top;
  }

  > .attribution {
    color: var(--text);
    padding-left: 2rem;
  }

  @media only screen and (max-width: 600px) {
    > .image {
      height: 70vh;
      border-radius: 1rem;
      margin-top: 2rem;
    }
    > .attribution {
      display: none;
      height: 0;
      padding: 0;
    }
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--text);
  text-align: right;
  padding: 1rem;
  margin: 0 2rem;
  border-radius: 1rem;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 0) 100%
  );

  > .title {
    font-size: var(--font-size-10);
    color: var(--primary-800);
    text-wrap: pretty;
  }

  > .tagline {
    font-size: var(--font-size-4);
    font-style: italic;
    font-weight: 400;
    color: var(--primary-800);
    margin: 1rem 0;
  }

  @media (max-width: 600px) {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0) 90%
    );
    top: 0;
    height: 100%;
    transform: none;
    text-align: left;
    margin: 0;
    padding: 1rem;
    > .title {
      font-size: var(--font-size-5);
      margin: 0.5rem;
      text-wrap: pretty;
    }

    > .tagline {
      font-size: var(--font-size-2);
      margin: 2rem 0.5rem;
    }
  }
}

.banner-buttons {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
}
