.modal-section {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 100;
  background: #0c0e0d88;
  overflow: auto;
  outline: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;

  &.active {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    background: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: var(--shadow-elevation-high);

    iframe:focus-visible {
      border-radius: 2rem;
    }
  }
}

.container-heading {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  margin-top: 0.5rem;

  > .close {
    font-size: 2rem;
    line-height: 0.5;
    padding: 1rem;
    float: right;
    text-align: center;
  }
}
