.modal-section {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 100;
  background: #0c0e0d88;
  overflow: auto;
  outline: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;

  &.active {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    background: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-high);

    iframe:focus-visible {
      border-radius: 1rem;
    }
  }
}

.container-heading {
  display: flex;
  justify-content: flex-end;
  padding-left: 2rem;
  margin-top: 0.5rem;

  > .close {
    font-size: 3rem;
    line-height: 0.5;
    padding: 1rem;
    float: right;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: color 0.2s ease;
    &:hover,
    &:focus {
      color: var(--accent-500);
    }
  }
}

/* Mobile modal section */
@media (max-width: 600px) {
  .modal-section > .container {
    width: 95%;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }

  .container-heading {
    width: 100%;
    margin-top: 0;

    > .close {
      font-size: 3rem;
      padding: 0.5rem;
    }
  }
}

/* Tablet modal section */
@media (min-width: 601px) and (max-width: 1024px) {
  .modal-section > .container {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .container-heading {
    width: 100%;
    margin-top: 0;

    > .close {
      font-size: 3rem;
      padding: 0.5rem;
    }
  }
}
