.services-section {
  position: relative;

  @media (max-width: 600px) {
    padding: 0.5rem 0;
  }
}

.services-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;

  @media (max-width: 600px) {
    padding: 0.5rem 0;
  }
}

.service-tabs {
  display: flex;
  gap: 4px;

  @media (max-width: 600px) {
    gap: 0;
  }

  > .button {
    background-color: var(--accent-200);
    border-radius: 0.5rem;
    margin: 0;
    padding: 1rem;
    font-weight: 500;
    transform: translateY(6px);
    box-shadow: var(--shadow-elevation-low);

    &:hover,
    &:focus {
      opacity: 1;
      background-color: var(--primary);
      transform: translateY(0px);
      color: var(--text-50);
      box-shadow: var(--shadow-elevation-medium);
    }

    &.active {
      background-color: var(--primary);
      transform: translateY(0px);
      z-index: 1;
      color: var(--text-50);
      box-shadow: var(--shadow-elevation-medium);
    }
  }
}

.service-card {
  display: none;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: 0;
  width: 100%;
  transition: display 0.25s;
  /* box-shadow: var(--shadow-elevation-medium); */

  &.active {
    display: flex;
    /* background-color: var(--primary); */
    color: var(--text-50);
    z-index: 1;
    transform: translateY(-6px);
  }

  > .content,
  > .visuals {
    flex: 1;
    display: flex;
  }

  > .content {
    height: 100%;
    width: 100%;
    padding: 0;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
  }

  > .visuals {
    border-radius: 0.5rem;
  }

  > .visuals > .image {
    border-radius: 0.5rem;
    box-shadow: var(--shadow-elevation-medium);
  }

  > .content > .item {
    /* color: var(--text-50); */
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    background-color: var(--primary);
    font-size: var(--font-size-4);
    box-shadow: var(--shadow-elevation-medium);
  }
}

/* Mobile section */

/* Optional tablet tweaks */
