/* Services Component Styles */
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.service-tabs {
  display: flex;
  gap: 4px;

  > .button {
    background-color: var(--primary-100);
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 0;
    padding: 1rem;
    font-weight: 500;
    transform: translateY(6px);
    box-shadow: var(--shadow-elevation-low);

    &:hover,
    &:focus {
      opacity: 1;
      background-color: var(--primary-200);
      transform: translateY(0px);
      box-shadow: var(--shadow-elevation-medium);
    }

    &.active {
      background-color: var(--primary-200);
      transform: translateY(0px);
      z-index: 1;
      box-shadow: var(--shadow-elevation-medium);
    }
  }
}

.service-card {
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  background: var(--primary-200);
  border-radius: 0.5rem;
  border: 0;
  width: 100%;
  transition: display 0.25s;
  box-shadow: var(--shadow-elevation-medium);

  &.active {
    display: flex;
    z-index: 1;
    transform: translateY(-6px);
  }

  > .content,
  > .visuals {
    flex: 1;
  }

  > .content {
    width: 100%;
    padding: 2rem 0 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  > .visuals {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  > .visuals > .image {
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
    height: auto;
  }

  > .content > .title {
    font-weight: 600;
    color: var(--text-900);
    border-bottom: 2px solid var(--accent-500);
    padding-left: 1rem;
  }
  > .content > .item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 1rem;
  }
  > .content > .bubbles {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  > .content > .bubbles > .bubble {
    max-width: 35px;
    height: 35px;
    width: 100%;
    background-color: var(--accent-500);
    border-radius: 2rem;
    align-self: center;
  }
}

/* Mobile section */

@media (max-width: 600px) {
  .services-section {
    padding: 0.5rem 0;
  }

  .services-container {
    padding: 0.5rem 0.75rem;
    gap: 2rem;
  }
  .service-tabs {
    display: none;
  }

  .service-card {
    flex-direction: column-reverse;
    display: flex;

    > .visuals {
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      height: auto;
    }

    > .visuals > .image {
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      height: auto;
    }

    > .content {
      padding: 1rem 0.5rem 2rem 0.5rem;
    }
    > .content > .title {
      font-size: var(--font-size-2);
      text-wrap: pretty;
      text-align: center;
      padding-left: 0rem;
    }

    > .content > .item {
      padding: 0.5rem;
    }
  }
}

/* Optional tablet tweaks */
