/* Services Component Styles */
.services-container {
  display: grid;
  /* create columns that are between 320px and 500px wide; fit as many as possible */
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  gap: 2rem;
  justify-content: center;
  max-width: 100%;
}

.service-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* keep card height fixed but let width be controlled by the grid cell
      card will never exceed 500px thanks to the grid minmax above */
  height: 500px;
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  gap: 0.5rem;
  background: var(--primary-200);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background: url("/src/assets/middle_school_study.jpg") center / cover no-repeat;
  color: var(--background);
  transition: transform 0.3s ease;

  &:nth-child(2) {
    background: url("/src/assets/high_school_study.jpg") center / cover no-repeat;
  }

  &:nth-child(3) {
    background: url("/src/assets/university_study.jpg") center / cover no-repeat;
  }

  &:hover {
    transform: scale(1.02);
  }

  > .content {
    flex: 1;
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  > .content > .title {
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid var(--primary-300);
    padding: 0 1rem;
  }
  > .content > .item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
  }
  > .content > .bubbles {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  > .content > .bubbles > .bubble {
    max-width: 35px;
    height: 35px;
    width: 100%;
    background-color: var(--accent-100);
    border-radius: 2rem;
    align-self: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

/* Mobile section */

@media (max-width: 600px) {
  .services-section {
    padding: 0.5rem 0;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .service-card {
    width: 100%;
    > .content {
      padding: 1rem 0.5rem 2rem 0.5rem;
    }
    > .content > .title {
      font-size: var(--font-size-2);
      text-wrap: pretty;
    }

    > .content > .item {
      padding: 0.5rem;
    }
  }
}

/* Optional tablet tweaks */
