/* Desktop screen styling */

.testimonials-section {
  position: relative;
}

.review-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-md);
  background: var(--background-100);
}
.review-count {
  text-align: center;
  border-bottom: 4px solid var(--primary);
}

.review-count-number {
  font-size: var(--font-size-5);
  font-weight: 700;
  margin-bottom: var(--space-xs);
  color: var(--primary);
}

.review-count-label {
  font-size: var(--font-size-2);
}

.testimonials-carousel {
  position: relative;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  -webkit-overflow-scrolling: touch;
  /* hide scroll bar */
  scrollbar-width: none; /* Firefox */
}

.carousel-track::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.carousel-controls {
  position: absolute;
  top: 60%;
  width: 100%;
  justify-content: space-between;
  display: none;
}

.carousel-controls > .control {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 4px solid var(--primary);
  color: var(--primary);
  opacity: 0.6;
  padding: var(--space-md);
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-elevation-low);
  transition: opacity 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}
.carousel-controls > .control:hover {
  opacity: 1;
  background-color: var(--primary-50);
  box-shadow: var(--shadow-elevation-medium);
}

.testimonial-card {
  scroll-snap-align: start;
  padding: var(--space-md) var(--space-sm);
  flex: 0 0 calc(100% / 3); /* 3 cards per view */
}

.testimonial-card > .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-lg);
  overflow-y: hidden;
  text-overflow: ellipsis;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-elevation-low);
  background-color: var(--card-white);
  color: var(--text);
  line-height: 1.9;
  border: 2px solid var(--primary-100);

  transition: all 0.2s ease;
}

.testimonial-card > .content:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-elevation-medium);
  border-color: var(--primary);

}

.testimonial-card > .content > .testimonial {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: var(--space-md);
  text-align: center;
}

.testimonial-card > .content > .author {
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: var(--font-size-1);
}

/* End of desktop section */

/* Mobile screen styling */

@media (max-width: 1024px) {
  .testimonials-section {
    padding: var(--space-md);
  }

  .testimonial-card {
    flex: 0 0 50%;
  }
}

@media (max-width: 600px) {
  .testimonial-card {
    flex: 0 0 100%;
  }

  .carousel-controls {
    position: relative;
    justify-content: center;
  }
  .carousel-controls > .control {
    margin: 0 var(--space-sm);
    opacity: 1;
    border: 4px solid var(--primary);
    background-color: transparent;
  }

  .carousel-controls > .control.-prev {
    border-radius: var(--radius-md) 0 0 var(--radius-md);
    width: 100%;
  }

  .carousel-controls > .control.-next {
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
    width: 100%;
  }
}
