.testimonials-section {
  position: relative;
  @media (max-width: 600px) {
    padding: 0.5rem;
  }
}

.testimonials-carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 0rem;
  -webkit-overflow-scrolling: touch;
  /* hide scroll bar */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

.testimonial-card {
  scroll-snap-align: start;
  padding: 1.5rem;
  flex: 0 0 calc(100% / 3); /* 3 cards per view */

  @media (max-width: 1024px) {
    flex: 0 0 50%;
  }

  @media (max-width: 600px) {
    flex: 0 0 100%;
  }

  > .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-elevation-low);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &.primary {
      background: var(--primary-100);
      color: var(--accent-700);
    }

    &.secondary {
      background: var(--primary-200);
      color: var(--accent-800);
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: var(--shadow-elevation-medium);
    }

    > .text {
      flex: 0 0 80%;
      font-weight: 600;
      font-style: italic;
      text-align: center;
      line-height: 1.75;
      margin: 0;
      padding: 0;
    }

    > .author {
      align-self: flex-end;
      font-weight: 500;
      margin-top: 1rem;
      font-size: var(--font-size-2);
      text-align: right;
      margin: 0;
      padding: 0;
    }
  }
}
