.testimonials-section {
  position: relative;
  @media (max-width: 1024px) {
    padding: var(--space-md);
  }
}

.testimonials-carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* hide scroll bar */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

.carousel-controls {
  display: flex;
  justify-content: space-around;
}

.testimonial-card {
  scroll-snap-align: start;
  padding: var(--space-md);
  flex: 0 0 calc(100% / 3); /* 3 cards per view */

  @media (max-width: 1024px) {
    flex: 0 0 50%;
  }

  @media (max-width: 600px) {
    flex: 0 0 100%;
  }

  > .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
    height: 360px;
    overflow: hidden;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-elevation-low);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    color: var(--text-50);

    &.primary {
      background: var(--primary);
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: var(--shadow-elevation-medium);
    }

    > .text {
      display: -webkit-box;
      -webkit-line-clamp: 10;
      line-clamp: 10;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }

    > .author {
      font-weight: 600;
      margin-top: var(--space-md);
      font-size: var(--font-size-2);
      text-align: center;
    }
  }
}
