[[redirects]]
  from = "https://kailistutoring.netlify.app/*"
  to = "https://kailistacey.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404

[[plugins]]
  package = "@netlify/plugin-sitemap"
  [plugins.inputs]
  buildDir = "dist"
  changeFreq = "monthly"
  priority = 1.0
  
