@import url(./helpers/palettes/colors.css);
@import url(./helpers/fonts/typography.css);
@import url(./helpers/buttons/buttons.css);

@import url(./layout/flex.css);
@import url(./layout/_spacing.css);

@import url(./components/form.css);
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/card.css);

/* Reset and Global Styles */
* {
   box-sizing: border-box;
   font-family: "Noto Sans", Arial, Helvetica, sans-serif;
   font-weight: 300;
   letter-spacing: 0.5px;
   margin: 0;
}

html {
   scroll-behavior: smooth;
   font-size: 62.5%;
}

body {
   line-height: 2;
   -webkit-font-smoothing: antialiased;
   background: var(--color-grey-3);
   height: 100%;
}

a,
a:visited {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
   margin: 0;
   padding: 0;
}

/* Typography Styles */
h1,
h2,
h3 {
   font-weight: 600;
   margin: 0;
}

h1 {
   font-size: var(--font-size-6);
}

h2 {
   font-size: var(--font-size-5);
}

h3 {
   font-size: var(--font-size-4);
}

h4 {
   font-size: var(--font-size-3);
}

h5,
p,
li,
a,
button {
   font-size: var(--font-size-1);
}

/* Layout Styles */
#content {
   display: block;
   margin: 0 auto;
   height: 100%;
   min-width: 30rem;
}

.main-content {
   display: block;
   margin: 0 auto;
   min-height: 100vh;
}

.column {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   padding: 0 20px;
}

.row {
   min-height: 30rem;
   height: 100%;
   width: 100%;
   max-width: 120rem;
}

.img-responsive {
   width: 100%;
   height: auto;
   object-fit: cover;
   object-position: center;
}

.banner {
   display: block;
   border-radius: 20px;
   position: relative;
   width: 100%;
   min-width: 360px;
   height: 85vh;

   .banner-img {
      border-radius: 20px;
      height: 100%;
   }

   .banner-text {
      color: var(--color-white);
      background: rgba(from var(--color-grey-1) r g b/0.33);
      padding: 20px;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
   }

   #ctaBtn {
      position: absolute;
      bottom: 20px;
      right: 20px;

      color: var(--color-white);
   }
}

.img-main {
   display: block;
   border-radius: 20px;
   position: relative;
   width: 100%;
   min-width: 360px;
}

.testimonial {
   flex: 1 1 0;
   min-height: 30rem;
}

@media (max-width: 830px) {
   h1 {
      font-size: var(--font-size-5);
   }

   .column {
      padding: 0 1rem;
   }
}
