@import url(./base/_reset.css);
@import url(./base/_typography.css);
@import url(./base/_palette.css);
@import url(./base/_layout.css);
@import url(./base/_shadows.css);
@import url(./base/_spacing.css);

@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/hero.css);
@import url(./components/button.css);
@import url(./components/contact-form.css);
@import url(./components/testimonials.css);
@import url(./components/services.css);
@import url(./components/about.css);
@import url(./components/modal.css);
@import url(./components/faq.css);
@import url(./components/pricing.css);

html,
body {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-weight: 300;
  line-height: 1.5;
  font-display: swap;
  font-size: var(--font-size-1);
}

#app {
  background: var(--background);
  color: var(--text-950);
  position: relative;
  opacity: 0.01;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
}

.main-content {
  min-height: 80vh;
  display: block;
  margin: 0 auto;
  min-width: 320px;
  padding: var(--space-lg);
}

@media (max-width: 768px) {
  .main-content {
    padding: var(--space-sm);
  }
}
