[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 404

[[plugins]]
  package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "dist"
  
  [plugins.inputs.changeFrequencies]
  "/" = "monthly"
  
  [plugins.inputs.priorities]
  "/" = 1.0