<template id="testimonial-template">
    <section class="flex-col gap-6 mb-2" id="Testimonials" aria-label="Testimonials section">
        <h1>Student and Parent Testimonies</h1>
        <div class="flex-row flex-col-sm gap-6">
            <article class="card card-primary testimonial flex-col">
                <p>Person is an inspiring tutor for my daughter Chiara. She is always able to provide help and guidance
                    and is patient, flexible and accomodating to Chiara's timetable. Person has played an integral role
                    in helping Chiara reach her full potential in science and Mathematics.</p>
                <br>
                <p>- Miriam Webster</p>
            </article>
            <article class="card card-primary testimonial flex-col">
                <p>
                    Person tutors my Twins in IB Physics and Chemistry. She has been very helpful and is very caring.
                    They both feel comfortable with her and their marks have imporved.
                </p>
                <br>
                <p>- Miriam Webster</p>
            </article>
            <article class="card card-primary testimonial flex-col">
                <p>
                    Lotte really struggled in keeping pace with her Maths class. Since starting tutoring with Person her
                    grades have improved, her confidence has grown and she is fully engaged in her own progression.
                    Person's feedback and support for Lotte has been invaluable.
                </p>
                <br>
                <p>- Miriam Webster</p>
            </article>
        </div>
    </section>
</template>