:root {
   --color-background: #edf0e5;

   --color-black: #0f1108;
   --color-white: #fdfdfc;

   /* greys */
   --color-grey-1: #736f72;
   --color-grey-2: #bcbdbc;
   --color-grey-3: #F5F5F5;

   /* greens */
   --color-green-1: #003e29;
   --color-green-2: #467061;
}
