@import url(../palettes/colors.css);
@import url(../fonts/typography.css);

button {
   all: unset;
}

/* basic button. Deals with commons (size, click area, cursor interaction etc) 
has no styling */

.btn {
   background-color: transparent;
   border: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   padding: 1.5rem 2rem;
   border-radius: 1rem;
   font-weight: 600;
   font-size: var(--font-size-1);
   min-width: 6rem;
   opacity: 1;
   transition: opacity 250ms;

   &:hover,
   &:focus {
      opacity: 0.8;
      transition: opacity 250ms;
   }
}

.btn-primary {
   background: var(--color-green-1);
   color: var(--color-white);
}
