name: CI Workflow
run-name: "${{github.event.pull_request.head.ref}}"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  ci:
    name: Lint, Test, and Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"

      - name: Install dependencies
        run: npm install

      - name: Run linting
        run: npm run lint

      - name: Run tests
        run: npm run test:ci

      - name: Build project
        env:
          VITE_ENVIRONMENT: ${{vars.VITE_ENVIRONMENT}}
          VITE_APP_VERSION: ${{vars.VITE_APP_VERSION}}

          VITE_SENTRY_DSN: ${{secrets.VITE_SENTRY_DSN}}
          SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
        run: npm run build
