:root {
  --mobile-breakpoint: 480px;
  --large-mobile-breakpoint: 600px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1024px;
  --max-width: 1200px;
}

.section-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  width: 100%;
  max-width: 1400px;

  > .title {
    text-align: center;
    margin-bottom: 1rem;
  }

  > .subtitle {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 400;
    font-style: italic;
    color: var(--primary-700);
    font-size: var(--font-size-2);
  }
}
