:root {
  --text: #0c1310;
  --background: #eff6f3;
  --primary: #305a47;
  --secondary: #86c6a7;
  --accent: #3f976d;

  --text-50: #eff5f3;
  --text-100: #e0ebe6;
  --text-200: #c0d8ce;
  --text-300: #a1c4b5;
  --text-400: #82b09c;
  --text-500: #629d83;
  --text-600: #4f7d69;
  --text-700: #3b5e4f;
  --text-800: #273f35;
  --text-900: #141f1a;
  --text-950: #0a100d;

  --background-50: #eff6f3;
  --background-100: #deede6;
  --background-200: #bedace;
  --background-300: #9dc8b5;
  --background-400: #7cb69d;
  --background-500: #5ca384;
  --background-600: #49836a;
  --background-700: #37624f;
  --background-800: #254135;
  --background-900: #12211a;
  --background-950: #09100d;

  --primary-50: #eef6f3;
  --primary-100: #deede6;
  --primary-200: #bddbce;
  --primary-300: #9cc9b5;
  --primary-400: #7ab89c;
  --primary-500: #59a683;
  --primary-600: #478569;
  --primary-700: #36634f;
  --primary-800: #244235;
  --primary-900: #12211a;
  --primary-950: #09110d;

  --secondary-50: #eef7f2;
  --secondary-100: #dcefe6;
  --secondary-200: #badecd;
  --secondary-300: #97ceb3;
  --secondary-400: #74be9a;
  --secondary-500: #52ad81;
  --secondary-600: #418b67;
  --secondary-700: #31684d;
  --secondary-800: #214534;
  --secondary-900: #10231a;
  --secondary-950: #08110d;

  --accent-50: #edf7f2;
  --accent-100: #dbf0e6;
  --accent-200: #b7e1cd;
  --accent-300: #93d2b4;
  --accent-400: #6fc39a;
  --accent-500: #4bb481;
  --accent-600: #3c9067;
  --accent-700: #2d6c4e;
  --accent-800: #1e4834;
  --accent-900: #0f241a;
  --accent-950: #08120d;
}
