:root {
  --text: #091e17;
  --background: #f6fcfb;
  --primary: #477163;
  --secondary: #96d2df;
  --accent: #71a6d4;

  --text-50: #ebf9f5;
  --text-100: #d8f3ea;
  --text-200: #b0e8d5;
  --text-300: #89dcc0;
  --text-400: #62d0ab;
  --text-500: #3bc496;
  --text-600: #2f9d78;
  --text-700: #23765a;
  --text-800: #174f3c;
  --text-900: #0c271e;
  --text-950: #06140f;

  --background-50: #ecf9f7;
  --background-100: #d9f2ee;
  --background-200: #b3e6dd;
  --background-300: #8cd9cc;
  --background-400: #66ccbb;
  --background-500: #40bfaa;
  --background-600: #339988;
  --background-700: #267366;
  --background-800: #194d44;
  --background-900: #0d2622;
  --background-950: #061311;

  --primary-50: #eff5f3;
  --primary-100: #e0ebe7;
  --primary-200: #c0d8d0;
  --primary-300: #a1c4b8;
  --primary-400: #82b0a1;
  --primary-500: #629d89;
  --primary-600: #4f7d6e;
  --primary-700: #3b5e52;
  --primary-800: #273f37;
  --primary-900: #141f1b;
  --primary-950: #0a100e;

  --secondary-50: #ebf7f9;
  --secondary-100: #d8eef3;
  --secondary-200: #b1dde7;
  --secondary-300: #8accdb;
  --secondary-400: #63bbcf;
  --secondary-500: #3caac3;
  --secondary-600: #30889c;
  --secondary-700: #246675;
  --secondary-800: #18444e;
  --secondary-900: #0c2227;
  --secondary-950: #061114;

  --accent-50: #ebf3f9;
  --accent-100: #d8e6f3;
  --accent-200: #b0cee8;
  --accent-300: #89b5dc;
  --accent-400: #629dd0;
  --accent-500: #3b84c4;
  --accent-600: #2f6a9d;
  --accent-700: #234f76;
  --accent-800: #17354f;
  --accent-900: #0c1a27;
  --accent-950: #060d14;
}
