:root {
  --text: #040907;
  --background: #fafdfc;
  --primary: #305a47;
  --secondary: #a1cbdb;
  --accent: #71a4c8;

  --text-50: #edf7f3;
  --text-100: #dcefe7;
  --text-200: #b9dfd0;
  --text-300: #95d0b8;
  --text-400: #72c0a1;
  --text-500: #4fb089;
  --text-600: #3f8d6e;
  --text-700: #2f6a52;
  --text-800: #204637;
  --text-900: #10231b;
  --text-950: #08120e;

  --background-50: #edf8f4;
  --background-100: #dbf0e9;
  --background-200: #b6e2d3;
  --background-300: #92d3bd;
  --background-400: #6dc5a8;
  --background-500: #49b692;
  --background-600: #3a9275;
  --background-700: #2c6d57;
  --background-800: #1d493a;
  --background-900: #0f241d;
  --background-950: #07120f;

  --primary-50: #eef6f3;
  --primary-100: #deede6;
  --primary-200: #bddbce;
  --primary-300: #9cc9b5;
  --primary-400: #7ab89c;
  --primary-500: #59a683;
  --primary-600: #478569;
  --primary-700: #36634f;
  --primary-800: #244235;
  --primary-900: #12211a;
  --primary-950: #09110d;

  --secondary-50: #edf5f8;
  --secondary-100: #daeaf1;
  --secondary-200: #b5d6e3;
  --secondary-300: #90c1d5;
  --secondary-400: #6badc7;
  --secondary-500: #4698b9;
  --secondary-600: #387a94;
  --secondary-700: #2a5b6f;
  --secondary-800: #1c3d4a;
  --secondary-900: #0e1e25;
  --secondary-950: #070f12;

  --accent-50: #edf3f8;
  --accent-100: #dae7f1;
  --accent-200: #b6d0e2;
  --accent-300: #91b8d4;
  --accent-400: #6ca0c6;
  --accent-500: #4789b8;
  --accent-600: #396d93;
  --accent-700: #2b526e;
  --accent-800: #1d3749;
  --accent-900: #0e1b25;
  --accent-950: #070e12;

  --sucess: #4caf50;
  --warning: #ff9800;
  --error: #f44336;
  --error-background: #ffebee;
}
