:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.2px 0.5px 0.4px hsl(var(--shadow-color) / 0.26),
    0.3px 0.7px 0.6px -2.5px hsl(var(--shadow-color) / 0.17),
    0.8px 2.2px 1.8px -5px hsl(var(--shadow-color) / 0.09);
  --shadow-elevation-medium: 0.2px 0.5px 0.4px hsl(var(--shadow-color) / 0.27),
    0.3px 0.9px 0.7px -1.7px hsl(var(--shadow-color) / 0.2),
    1.3px 3.6px 2.9px -3.3px hsl(var(--shadow-color) / 0.14),
    4.1px 10.8px 8.7px -5px hsl(var(--shadow-color) / 0.07);
  --shadow-elevation-high: 0.2px 0.5px 0.4px hsl(var(--shadow-color) / 0.29),
    0.3px 0.8px 0.6px -0.8px hsl(var(--shadow-color) / 0.25),
    1px 2.7px 2.2px -1.7px hsl(var(--shadow-color) / 0.21),
    3px 7.9px 6.3px -2.5px hsl(var(--shadow-color) / 0.17),
    6.8px 18.2px 14.6px -3.3px hsl(var(--shadow-color) / 0.12),
    13.1px 35.1px 28.1px -4.2px hsl(var(--shadow-color) / 0.08),
    22.6px 60.2px 48.2px -5px hsl(var(--shadow-color) / 0.04);
}
