:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0.6px 0.7px 0.8px hsl(var(--shadow-color) / 0.26),
    1px 1px 1.2px -2.2px hsl(var(--shadow-color) / 0.18),
    3px 3.1px 3.6px -4.4px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-medium:
    0.6px 0.7px 0.8px hsl(var(--shadow-color) / 0.27),
    1.4px 1.5px 1.7px -1.5px hsl(var(--shadow-color) / 0.21),
    5.2px 5.4px 6.2px -3px hsl(var(--shadow-color) / 0.15),
    15.1px 15.7px 18.1px -4.4px hsl(var(--shadow-color) / 0.09);
  --shadow-elevation-high:
    0.6px 0.7px 0.8px hsl(var(--shadow-color) / 0.25),
    1.8px 1.8px 2.1px -0.6px hsl(var(--shadow-color) / 0.23),
    4.1px 4.3px 4.9px -1.3px hsl(var(--shadow-color) / 0.2),
    9.3px 9.7px 11.2px -1.9px hsl(var(--shadow-color) / 0.17),
    18.7px 19.6px 22.6px -2.5px hsl(var(--shadow-color) / 0.14),
    34px 35.5px 40.9px -3.2px hsl(var(--shadow-color) / 0.12),
    56.7px 59.2px 68.2px -3.8px hsl(var(--shadow-color) / 0.09),
    88.3px 92.1px 106.2px -4.4px hsl(var(--shadow-color) / 0.06);
}