<template id="header-template">
    <header class="navbar mb-2" aria-label="Main navigation">
        <a href="/home">
            <img src="./assets/logo.webp" width="100" height="100" alt="Person Stacey Tutoring Logo"
                class="logo img-responsive" />
        </a>
        <button class="btn" id="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <nav class="nav-menu">
            <a href="/home#About" aria-label="About">About</a>
            <a href="/home#Testimonials" aria-label="Testimonials">Testimonials</a>
            <a href="/services" aria-label="Services">Services</a>
            <a href="/calendar" aria-label="Availability Calendar">Calendar</a>
            <a href="/contact" aria-label="Contact">Contact</a>
        </nav>
    </header>
</template>