<template id="header-template">
    <header class="navbar" aria-label="Main navigation">
        <a href="/home">
            <img src="images/logo.png" alt="Kaili Stacey Tutoring Logo" class="logo" />
        </a>
        <nav>
            <a href="/about" aria-label="About">About</a>
            <a href="/testimonials" aria-label="Testimonials">Testimonials</a>
            <a href="/services" aria-label="Services">Services</a>
            <a href="/contact" aria-label="Contact">Contact</a>
        </nav>
    </header>
</template>